/*************************************
# FONTS
**************************************/
/* font */
@font-face {
  font-family: 'Prompt_Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt_Bold'), url('../vendor/fonts/Prompt-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Prompt_SemiBold';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt_SemiBold'), url('../vendor/fonts/Prompt-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Prompt_Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt_Regular'), url('../vendor/fonts/Prompt-Regular.ttf') format('truetype')
}

.vl {
  border-left: 2.5px solid rgb(156, 156, 156);
  min-height: 50px;
  margin: 0 10px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 9px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;

}

.header.sticked {
  background: #fff;
  box-shadow: 0px 2px 20px #e53232;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}


.header .btn-getstarted,
.header .btn-getstarted:focus {
  font-size: 16px;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 8px 23px;
  border-radius: 4px;
  transition: 0.3s;
  font-family: var(--font-secondary);
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--color-white);
  background: rgba(var(--color-primary-rgb), 0.85);
}

@media (max-width: 1279px) {

  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    margin-right: 50px;
  }
}

/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
    position: relative;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    font-family: 'Prompt_SemiBold';
    font-size: 13px;
    font-weight: 400;
    color: #262626;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 13px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e53232;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(0.7);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #e53232;
  }

  .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover>a:before,
  .navbar .dropdown .active:before {
    visibility: hidden;
  }

  .navbar .dropdown a:hover,
  .navbar .dropdown .active,
  .navbar .dropdown .active:focus,
  .navbar .dropdown:hover>a {
    color: var(--color-red);
    background: var(--color-secondary);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    background: var(--color-secondary);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    margin: 10px 0;
    border-right: 0.5px solid #252525d0;
    border-left: 0.5px solid #252525d0;
  }

  .navbar .dropdown ul a {
    padding: 10px 10px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: rgba(var(--color-white-rgb), 0.5);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-red);
    /* background: var(--color-red); */
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
  }

  .navbar .megamenu {
    position: static;
  }

  .navbar .megamenu ul {
    left: 0;
    right: 0;
    padding: 30px 4px 10px 4px;
    display: flex;
  }

  .navbar .megamenu ul li {
    display: flex;
    /* display: list-item; */
    display: inline-block;
  }

  .navbar .megamenu ul a,
  .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover>a {
    color: #262626;
    background: none;
  }

  .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: var(--color-red);
    /* background: var(--color-primary); */
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul img {
    width: 100%;
  }

  .navbar ul li {
    list-style: none;
    border: 1px solid #dcdbdb;
  }

  ul.dropdown-active li {
    list-style: none;
    border: none;
  }

  .navbar ul:first-child {
    list-style: none;
    border: none;
  }

  .navbar ul {
    font-family: 'Prompt_SemiBold';
    position: absolute;
    inset: 0;
    padding: 100px 50px;
    margin: 0;
    background: #fff;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #262626;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #e53232;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    /* border-bottom: 1px solid rgba(var(--color-secondary-light-rgb), 0.3); */
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: block !important;
    color: #252525;
    font-size: 28px;
    cursor: pointer;
    line-height: normal;
    transition: 0.5s;
    position: fixed;
    top: 20px;
    z-index: 9999;
    right: 20px;
  }

  .mobile-nav-toggle.fa-bars {
    color: #252525;
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .navbar {
    left: 0;
    width: 100%;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(var(--color-secondary-rgb), 0.8);
    z-index: 9996;
  }
}

/*************************************
# CUSTOM STYLING
**************************************/
.h80vh {
  height: 80vh;
  margin-bottom: 0;
}

.h-35 {
  height: 35vh;
}

.mt-100 {
  margin: 100px;
}

.mt-50 {
  margin-top: 5rem !important;
}

:root {
  --my-primary: #1C69D4;
  --my-secondary: #7b7b7b;
  --my-success: #18b512;
  --my-info: #0dcaf0;
  --my-warning: #ffc107;
  --my-danger: #dc3545;
  --my-light: #f8f9fa;
  --my-dark: #212529;
  --my-blue: #428bca;
  --color-red: #e53232;
  /* Default text color */
  --color-default: #1a1f24;
  --color-default-rgb: 26, 31, 36;

  /* Defult links color */
  --color-links: #0ea2bd;
  --color-links-hover: #1ec3e0;

  /* Primay colors */
  --color-primary: #0ea2bd;
  --color-primary-light: #1ec3e0;
  --color-primary-dark: #0189a1;

  --color-primary-rgb: 14, 162, 189;
  --color-primary-light-rgb: 30, 195, 224;
  --color-primary-dark-rgb: 1, 137, 161;

  /* Secondary colors */
  --color-secondary: #E7E7E7;
  --color-secondary-light: #f4f4f4;
  --color-secondary-dark: #3a4753;

  --color-secondary-rgb: 72, 86, 100;
  --color-secondary-light-rgb: 143, 159, 174;
  --color-secondary-dark-rgb: 58, 71, 83;
}

.bg-primary {
  background: var(--my-primary) !important;
}

.bg-blue {
  background: var(--my-blue);
}

.bg-success {
  background: var(--my-success) !important;
}

.bg-secondary {
  background: #363636 !important;
}

.btn-transparent {
  border: 1px solid rgb(172, 172, 172);
  color: #fff;
  padding: 6px 20px;
}

.btn-transparent:hover {
  border: 1px solid rgb(172, 172, 172);
  color: #212529;
  padding: 6px 20px;
  background: #fff;
}

.bg-dark {
  background: #000000 !important;
}

.bg-white-50 {
  background: #f4f4f4;
}

.bg-white-80 {
  background: #E7E7E7;
}

.font-family-promp-regular_semi_bold {
  font-family: 'Prompt_SemiBold';
}

.font-family-promp-regular_bold {
  font-family: 'Prompt_Bold';
}

.font-family-promp-regular {
  font-family: 'Prompt_Regular';
}

.border-none {
  border: none !important;
  border-right: none !important;
}

li.min-width-70 {
  min-width: 100px !important;
  align-items: center;
}

li.min-width-70:hover {
  background: gray;
}

.fz-x-small {
  font-size: 12px
}

.fz-25 {
  font-size: 25px;
}

.mt-6 {
  margin-top: 65px !important;
}

.bg-soft-white-linear {
  background: linear-gradient(to top, #f2f2f2, #fff, #fff, #fff);
}

.bg-image-sejarah,
.bg-image-visi-misi {
  background-size: cover;
  background-position: center;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 340px;
}

.w-30 {
  height: 30vh;
}

.text-justify {
  text-align: justify;
}

body {
  overflow-x: hidden;
}

iframe {
  max-width: 100%;
  max-height: 100%;
  min-width: 860px;
  min-height: 515px;
}

.blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.375);
}

.hero-bg-blur {
  height: 70vh !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* transform: scale(1.1); */
}

/* scroll bar */

::-webkit-scrollbar {
  /* display: none; */
  background: rgba(255, 255, 255, 0.103);
  width: 5px;
  height: 1px;
}


::-webkit-scrollbar-track {
  display: none;
  visibility: hidden;
  /* background: var(--my-danger); */
}

::-webkit-scrollbar-thumb {
  background: var(--my-danger);
}


::-webkit-scrollbar-thumb:hover {
  background: red;
}

.car-img {
  width: 146px !important;
  height: 101px !important;
  object-fit: contain !important;
}

.car-link {
  text-decoration: none;
  color: #e53232;
}

.gallery-wrap,
.footer-wrap,
.car-catalog {
  padding: 0 120px;
}

.car-catalog h4 {
  font-size: 18px;
  font-family: 'Prompt_SemiBold';
}

/*************************************
# JQUERY LIGHTBOX
**************************************/
#preview-gallery {
  width: 260px;
  height: 150px;
  margin: 5px 0 0 0;
  object-fit: cover;
  text-align: center;
  align-items: center;
  align-content: center;
}

.sl-close,
.sl-next,
.sl-prev,
.sl-counter {
  color: rgb(205, 205, 205) !important;
}

.sl-wrapper {
  background: rgb(0, 0, 0);
}

@media screen and (max-width: 1220px) {
  #preview-gallery {
    margin: 2px 0;
    width: 150px;
    height: 100px;
    object-fit: cover;
  }

  .h-35 {
    height: 100%;
  }

  iframe {
    min-width: 800px;
    min-height: 500px;
  }
}

@media screen and (max-width: 414px) {
  iframe {
    max-width: 100% !important;
    max-height: 80px !important;
  }
}

@media screen and (max-width: 550px) {
  .gallery-wrap {
    margin: 0 !important;
    padding: 0 !important;
  }

  .hero-bg-blur {
    height: 70vh !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  iframe {
    min-width: 480px;
    min-height: 400px;
  }

  #preview-gallery {
    margin: 2px 0;
    width: 220px;
    height: 120px;
    object-fit: cover;
  }
}

/*************************************
# RADIO BUTTON
**************************************/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:before {
  border: 2px solid #428bca;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #428bca;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*************************************
# NAVBAR
**************************************/
.site-mobile-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  font-family: 'Prompt_SemiBold';
  height: 100vh;
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  transform: translateX(0%);
}

/*************************************
# FOOTER
**************************************/
li.footer a {
  text-decoration: none;
  align-items: center;
  color: aliceblue;
  margin: auto auto;

}

li.footer i {
  align-items: center;
  font-size: 25px;
}

li.footer {
  list-style: none;
  margin-right: 19px;
  align-items: center;
  font-size: 12px;
}

ul.footer {
  display: flex;
  align-items: center;
  margin-left: 0 !important;
  padding: 0 !important;
}

li.footer img {
  width: 140px;
}

.icon-wrap {
  height: 40px;
  width: 40px;
  padding: 9px;
  border-radius: 50%;
  font-size: 25px;
}

.fa-instagram {
  background: linear-gradient(160deg, rgb(68, 0, 255), red, rgb(255, 242, 0));
}

.fa-facebook {
  background: linear-gradient(160deg, rgb(82, 52, 166), rgb(20, 95, 152), rgb(199, 187, 187));
}

.fa-twitter {
  background: linear-gradient(160deg, rgb(0, 136, 255), rgb(3, 104, 193));
}

.floating-menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 60%);
  border-radius: 20px;
}

/*************************************
# LOGO
**************************************/
.logo img {
  width: 160px !important;
}

.logo {
  border-right: 2px solid #b2b2b2;
  margin-right: 1rem;
  padding-right: 1rem;
}

.logo img {
  width: 70px;
  height: 50px;
}



.humberger {
  display: none;
}

.humberger span,
.closehumberger span {
  color: #262626;
  font-size: 26px;
}

.humberger {
  display: block;
  margin-left: auto;
}

.closehumberger {
  margin-left: auto;
  align-self: center;
}

/*************************************
# CAROUSEL
**************************************/
.wrapper {
  width: 100%;
  margin: 0 !important;
  padding: 0;
}

/* span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background: #ffffff;
  border-radius: 50%;
} */


.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #1C69D4 !important;
}

/*************************************
# slider
**************************************/
ul.scroll {
  display: flex;

}

.scroll {
  width: 1000px;
  overflow-x: scroll;
}

.scroll li {
  list-style: none;
  align-self: center;
  align-items: center;
  display: flex;
  margin: 0 18px;
  min-width: 140px;
  border-right: 1px solid #ccc;
}

.scroll>li>a {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Prompt_Regular';
  align-self: center;
  font-size: 12px;
  color: #212529;
}

li {
  align-items: center;
  vertical-align: middle;
}

ul.scroll-x {
  display: flex;

}

.scroll-x {
  width: 1000px;
  overflow-x: scroll;
}

.scroll-x li {
  list-style: none;
  align-self: center;
  align-items: center;
  min-width: 140px;
  border-right: 1px solid #ccc;
}

.scroll-x>li>a {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Prompt_Regular';
  align-self: center;
  font-size: 12px;
  color: #ffffff;
}

li.li-item.active {
  background: #3d3d3d;
  padding: 10px;
}

li.li-item:hover {
  background: #3d3d3d;
  padding: 10px;
}

/*************************************
# vehicles-model
**************************************/
.vehicles-model {
  font-family: 'Prompt_Bold';
  padding: 40px 0 10px;
}

/*************************************
# CONTACT INFORMATION
**************************************/
.contact-information {
  min-height: 50px;
  font-family: 'Prompt_SemiBold';
  color: #fff;
  padding-top: 5px;
  padding-bottom: 20px;
}

.contact-information a {
  text-decoration: none;
}

/*************************************
# MEDIA RESPONSIVE 
**************************************/
@media (min-width: 1200px) {
  .humberger {
    display: none;
  }

  .closed {
    display: none;
  }
}

@media screen and (max-width: 1150px) {

  .gallery-wrap,
  .footer-wrap,
  .car-catalog {
    padding: 0 25px;
  }

  .mt-6 {
    margin-top: 75px !important;
  }
}

@media screen and (max-width: 750px) {
  .car-catalog {
    padding: 0 18px;
  }

  .car-catalog h4 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }

  .closed {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .humberger {
    display: block;
    margin-left: auto;
  }

  .closed {
    display: none;
  }

  .closehumberger {
    margin-left: auto;
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .humberger {
    display: block;
    margin-left: auto;
  }

  .closed {
    display: none;
  }

  .closehumberger {
    margin-left: auto;
    align-self: center;
  }

  .w-100 {
    height: 80vh !important;
    object-fit: cover !important;
  }
}

@media (max-width: 575px) {
  .header .logo img {
    width: 100px !important;
    object-fit: contain;
  }

  .w-100 {
    height: 85vh !important;
    object-fit: cover !important;
  }
}